/****************** NAVBAR *****************************/

.navbar .container-fluid .navbar-brand .fa-hand-peace {
  color: aqua;
}

/****************** MAİN *****************************/
/****************** SECTION-HOME *****************************/

main {
  gap: 10vh;
}
main section.home {
  background-image: url(./assets/img/20200606_191844.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
main section.home h2 {
  color: red;
}
main section.home .btn-info {
  border: 2px solid white;
  color: black;
  font-weight: bold;
}
main section.home .btn-info:hover {
  background-color: aqua;
}

/****************** SECTION-ABOUTME *****************************/

main .aboutMe .container-fluid {
  height: 100vh;
}
main .aboutMe .row .middle a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: rgb(5, 116, 116);
}
main .aboutMe .row .middle a:hover {
  color: white;
  background-color: rgb(5, 116, 116);
  border: 0;
}

main .aboutMe .row .middle .socials {
  display: flex;
  gap: 1rem;
}

/* .carousel-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
} */
