/****************** NAVBAR *****************************/

.navbar .container-fluid .navbar-brand .fa-hand-peace {
  color: rgba(7, 145, 145, 0.89);
}

/****************** MAİN *****************************/
/****************** SECTION-HOME *****************************/

main {
  gap: 10vh;
}
main section.home {
  background-image: url(./assets/img/20200606_191844.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
  height: 100vh;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}
main section#home {
  background-color: black;
}
main section.home h2 {
  color: red;
}
main section.home .btn-info {
  border: 2px solid white;
  color: black;
  font-weight: bold;
}
main section.home .btn-info:hover {
  background-color: rgb(5, 116, 116);
}

/****************** SECTION-ABOUTME *****************************/

main .aboutMe .row .middle a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: rgb(5, 116, 116);
}
main .aboutMe .row .middle a:hover {
  color: white;
  background-color: rgb(5, 116, 116);
  border: 0;
}

main .aboutMe .row .middle .socials {
  display: flex;
  gap: 1rem;
}

/****************** SECTION-OUR SERVICE *****************************/

.ourService {
  height: 100vh;
  position: relative;
}

.ourService .container {
  position: absolute;
  top: 100px;
}

/****************** SECTION - CONTACT ME ****************************/

.contactMe {
  height: 100vh;
  position: relative;
}

.contactMe .container {
  position: absolute;
  top: 100px;
}

/****************** FOOTER *****************************/

footer .container-fluid {
  height: 30vh;
  background: rgba(10, 8, 8, 0.61);
}
footer .socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 2px solid black;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: rgb(5, 116, 116);
}
footer .socials a:hover {
  color: white;
  background-color: rgb(5, 116, 116);
  border: 0;
}

footer .socials {
  display: flex;
  gap: 1rem;
}
footer .container-fluid p {
  color: aliceblue;
}
